<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>拼东东商城</title>
</head>
<body>
	<hr>
	<form action="updateSpu" id="updateForm" enctype="multipart/form-data" method="post">
        <table>
            <input type="hidden" name="id" th:value="${spu.id}" />
            <input type="hidden" name="class1" th:value="${spu.class1}" />
            <input type="hidden" name="class2" th:value="${spu.class2}"/>
            <input type="hidden" name="brandId" th:value="${spu.brandId}"/>
            <tr>
                <td>商品名称:</td>
                <td><input name="name" type="text" th:value="${spu.name}"/></td>
            </tr>
            <tr>
                <td>商品描述:</td>
                <td><textarea  name="describes" th:text="${spu.describes}" th:value="${spu.describes}" rows="10" cols="50"></textarea></td>
            </tr>
            <tr>
                <td>商品图片:</td>
                <td>
                    <input type="hidden" name="pic" th:value="${spu.pic}">
                    <img th:src="@{'/upload/image/'+${spu.pic}}" height="100px" width="100px"/>
                    <input type="file" name="file" />
                </td>
            </tr>

        </table>
        <input type="button" value="修改" onclick="submit()"/>
	</form>

<script>
    function submit() {
        $.post("updateSpu", $("#updateForm").serialize(), function () {
                alert("修改成功!");
/*                $("#msg").html(data);
                $("#tt").tabs('close',"修改商品")*/
            },function () {
            alert("修改失败!")
        });
    }
</script>
</body>
</html>